@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
:root {
    --success-color: #2ecc71;
    --error-color: #f1aa0e;
  }
*{
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    
}
.container{
    padding: 10px 15px;
    background-image: linear-gradient(to bottom,purple,rgb(184, 48, 123),rgb(214, 58, 214) );
    border-radius: 10px;
    box-shadow: 2px 2px 6px black;
    width: 30%;
}
h2{
    text-align: center;
    font-size: 30px;
    color: white;

}
.form-control{
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}
.form-control label{
    display: block;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    }
.form-control input{
        display: block;
        width: 100%;
        border: 2px solid rgb(129, 128, 128);
        border-radius: 15px;
        padding: 5px 5px;
        }
.form-control input:focus{
    outline: 0;
    border-color: rgb(56, 56, 56);
        }
.form-control.success input{
    border-color: var(--success-color);
}
.form-control.error input{
    border-color: var(--error-color);
} 
.form-control small{
    color: var(--error-color);
    visibility: hidden;
}  
.form-control.error small{
    visibility: visible;
}     



.form button {
    cursor: pointer;
    background-image: linear-gradient(to right,rgb(6, 119, 194), rgb(72, 35, 107), rgb(6, 119, 192));
    border: 2px solid #3498db;
    border-radius: 15px;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
  }
.form button:hover{
    opacity: 0.7;
    transform: scaleX(0.9);
}  
.others{
    text-align: center;
    color: white;
}
.icons{
    font-size: 25px;
}
.fab:hover{
    color: rgb(123, 123, 221);
}